<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Codebarre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scanner le codebarre</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>

    <ion-card-content>
      <ion-text>Le QRCode ou le codebarre pour avoir les informations du produit !</ion-text>
      <ion-button color="success" expand="full" (click)="openBarCodeScanner()">Scannez le code</ion-button>

    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col class="justify-align-center"  *ngIf="barCode">
        <ion-text>{{barCode}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="justify-align-center"  *ngIf="productInformation">
        <ion-text>{{productInformation.product.product_name}} </ion-text>
        <img src="product.image_url"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

