<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Food shopping</ion-title>
  </ion-toolbar>
<!--  <ion-toolbar color="primary">-->
<!--    <ion-title>-->
<!--      Lieux de vente-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
</ion-header>

<!--<ion-fab vertical="top" horizontal="end" slot="fixed">-->
<!--  <ion-fab-button color="secondary">-->
<!--    <ion-icon name="barcode"></ion-icon>-->
<!--  </ion-fab-button>-->
<!--</ion-fab>-->

<ion-content [fullscreen]="true">
<!--  <ion-content>-->
<!--    <div id="mapId" style="width: 100%; height: 100%">-->
<!--    </div>-->
<!--  </ion-content>-->

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Search page"></app-explore-container>

  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)">
  </ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label>Nutriscore :</ion-label>
      <ion-select [(ngModel)]="nutrigradeSelected"
                  (ionChange)="filterNutrigrade()"
                  interface="action-sheet"
                  multiple="true">
        <ion-select-option *ngFor="let ng of nutrigradeOptions" [value]="ng">
          {{ng}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-icon name="barcode" slot="start"></ion-icon>
  <ion-list>
    <ion-item *ngFor="let product of products"
              [routerLink]="['/product', product._id]"
              button>
      <ion-avatar slot="start">
        <img [src]="product.image_url" *ngIf="product.image_url != 'N/A'" [alt]="product.product_name">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>{{ product.product_name }}</h3>
        {{ product.quantity }}
      </ion-label>

      <ion-icon slot="end" *ngIf="product.nutriscore_grade == 'nutriscore_grade'" name="checkbox-outline"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
